<nav
  class="bottom-nav"
  aria-label="Navegação principal"
>

  <a
    routerLink="/home"
    routerLinkActive="active"
    class="nav-item"
  >
    <span class="icon">⌂</span>
    <span>Início</span>
  </a>


  <a
    routerLink="/contexto-do-dia"
    routerLinkActive="active"
    class="nav-item"
  >
    <span class="icon">✦</span>
    <span>Ritmo</span>
  </a>


  <button
    type="button"
    class="nav-item indisponivel"
    disabled
  >
    <span class="icon">◌</span>
    <span>Grupos</span>
  </button>


  <button
    type="button"
    class="nav-item indisponivel"
    disabled
  >
    <span class="icon">○</span>
    <span>Perfil</span>
  </button>

</nav>