<nav class="bottom-nav">

  <a
    routerLink="/home"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{
      exact: true
    }"
    class="nav-item"
  >
    <span class="icon">⌂</span>
    <span>Início</span>
  </a>


  <a
    routerLink="/feed"
    routerLinkActive="active"
    class="nav-item"
  >
    <span class="icon">⌕</span>
    <span>Explorar</span>
  </a>


  <a
    routerLink="/grupos"
    routerLinkActive="active"
    class="nav-item"
  >
    <span class="icon">◌</span>
    <span>Grupos</span>
  </a>


  <a
    routerLink="/perfil"
    routerLinkActive="active"
    class="nav-item"
  >
    <span class="icon">○</span>
    <span>Perfil</span>
  </a>

</nav>