@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800;900&display=swap');

:root {
  --verde-ritmo: #236B45;
  --verde-escuro: #173E2B;
  --verde-fundo: #0F261A;

  --azul-ritmo: #91CDFF;

  --creme: #F7F4ED;
  --cinza: #B8C1BB;
}

* {
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif !important;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: var(--verde-fundo);
  color: var(--creme);
}

button,
input,
textarea,
select,
a {
  font-family: 'Nunito', sans-serif !important;
}
/* =========================
   TEMA GLOBAL DO RITMO
========================= */

:root,
html[data-theme='escuro'] {
  color-scheme: dark;

  --ritmo-background: #0F261A;
  --ritmo-surface: #173E2B;
  --ritmo-surface-secondary: #214C35;

  --ritmo-text: #F7F4ED;
  --ritmo-muted: #AEB9B2;

  --ritmo-primary: #91CDFF;
  --ritmo-green: #236B45;

  --ritmo-border:
    rgba(255, 255, 255, 0.08);
}


html[data-theme='claro'] {
  color-scheme: light;

  --ritmo-background: #F5F3EC;

  --ritmo-surface: #FFFFFF;

  --ritmo-surface-secondary:
    #E9F1EB;

  --ritmo-text: #173E2B;

  --ritmo-muted: #607168;

  --ritmo-primary: #397CAB;

  --ritmo-green: #236B45;

  --ritmo-border:
    rgba(23, 62, 43, 0.12);
}


html,
body {
  margin: 0;

  background:
    var(--ritmo-background);

  color:
    var(--ritmo-text);

  transition:
    background 0.25s ease,
    color 0.25s ease;
}